@import "_normalize";
@import "_colors";
@import "_popup";
@import "_fonts";

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.show {
  animation: fade 1.5s ease forwards;
}

html,
body {
  height: 100%;
}


body {
  font-family: 'PPPangramSans-CompactRegular', sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.hide {
  display: none;
}

/******************* BEGIN: HEADER *******************/
@keyframes shake {
  0% {
    left: 0; 
  }
  25% {
    left: -5px;
  }
  50% {
    left: 5px;
  } 
  75% {
    left: -3px;
  }
  100% {
    left: 0;
  }
}

.header {
  width: 100%;
  color: $white;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  &__menu {
    &--list {
      display: flex;
      align-items: center;
    }
    
    &--item {      
      list-style-type: none;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    
    
    &--link {
      color: $white;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      transition: all 0.5s ease;
      position: relative;
      
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 1px;
        background-color: $logo;
        transition: width 0.5s;
      }
      
      &:hover::after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px;
        background-color: $logo;
        transition: width 0.5s;
      }

      &:hover {
        transition: width 0.5s;
        color: $logo;
      }
    }
  }

  &__contacts {
    &--list {
      display: flex;
      align-items: center;
      list-style-type: none;
    }

    &--item {
      list-style-type: none;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }

    &--img {
      width: 35px;
      height: auto;
      position: relative;
      &:hover {
        animation: shake 0.4s linear;
      }
    }
  }
}
/******************* END: HEADER *******************/

/******************* BEGIN: MAIN *******************/

@keyframes fade-in {
  to {
    opacity: 1; 
  }
}

@keyframes fade-in-child {
  to {
    opacity: 1;
  }
}

.main {
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/main-bg.jpeg) no-repeat center/cover;
  height: 100vh;

  &__container {
    padding-top: 68px;
    padding-bottom: 90px;
    color: $white;
    position: relative;
    // opacity: 0;
    // animation: fade-in 1.5s ease forwards;
    text-align: right;
  }

  @keyframes slide-in {
    to {
      left: 15px;
    }
  }

  &__img {
    width: 610px;
    height: auto;
    display: block;
    position: absolute; 
    padding-bottom: 46px;
    margin-bottom: 40px;
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
  }
  
  &__stripe {
    animation: right-sl 1s ease forwards;
    border: 2px solid #7ee4a6;
    width: 610px;
    display: block;
    position: absolute;
    top: 504px;
    left: 14px;
  }

  &__stripe {
    -webkit-animation: right-sl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: right-sl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @-webkit-keyframes right-sl {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes right-sl {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }

  &__wrapper {
    margin-top: 483px;
  }
  
  &__title {
    display: none;
  }

  &__subtitle {
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 3px;
    margin-bottom: 90px;
    text-align: left;
    font-family: 'PPPangramSans-Semibold', sans-serif;

  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
  }

  &__text,
  &__mail,
  &__phone {
    font-family: 'Mont-ExtraLightDEMO', sans-serif;
    display: flex;
    align-items: center;
    width: 278px;
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 15px;
    opacity: 0;
    animation: fade-in-child 1.5s ease forwards;
  }

  &__text {
    letter-spacing: 3px;
  }

  &__mail {
    font-size: 23px;
  }

  &__phone {
    font-size: 29px;
  }

  &__link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: $logo;
    border-radius: 100%;
    margin-right: 10px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

}
/******************* END: MAIN *******************/
.back {
  &__btn {
    width: 64px;
    height: 64px;
    background: #7ee4a6;
    border-radius: 50%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 50px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0s linear;
    &-img {
      width: 36px;
      height: auto;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    50% {
      opacity: 0.5;
      visibility: visible;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
}

.back__btn.visible {
  animation: fadeIn 1s ease-in-out forwards;
}
/******************* BEGIN: ABOUT *******************/
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about {
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/about-bg.jpg) no-repeat center/cover;
  height: 100%;

  &__container {
    padding: 100px 15px 280px;
  }

  &__title {
    opacity: 0;
    color: $white;
    font-size: 50px;
    line-height: 52px;
    font-weight: 600;
    margin-bottom: 65px;
    font-family: 'PPPangramSans-Semibold', sans-serif;
    letter-spacing: 1px;
  }

  &__text {
    opacity: 0;
    color: $white;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'PPPangramSans-CompactRegular', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
  }

  &__list {
    opacity: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    list-style-type: none;
    max-width: 373px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: flex-start;
    color: $white;
    padding: 16px 0px 0px 0px;
  }

  &__img {
    margin-bottom: 50px;
  }

  &__subtitle {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 58px;
    font-family: 'PPPangramSans-Semibold', sans-serif;
    letter-spacing: 1px;
  }

  &__desc {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    padding: 20px;
    font-family: 'PPPangramSans-CompactRegular', sans-serif;
  }
  
}
/******************* END: ABOUT *******************/

/******************* BEGIN: SOLUTIONS *******************/
.solutions {
  background-color: $black;
  font-family: 'PPPangramSans-Semibold', sans-serif;
  // height: 100vh;
  
  &__container {
    height: 100%;
    color: $white;
    display: flex;
  }

  &__wrapper {
    height: 100% !important;
    width: calc(((100% - 1140px) / 2) + 352px);
    color: $black;
    background-color: $logo;
    opacity: 0;
  }

  &__title {
    font-size: 56px;
    font-weight: 700;
    margin: 82px calc(((100% - 1140px) / 2) )0 calc(((100% - 1140px) / 2) + 543px);
    line-height: 62px;
    opacity: 0;
  }

  &__subtitle {
    margin: 50px calc(((100% - 1140px) / 2) )283px calc(((100% - 1140px) / 2) + 543px);
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 36px;
    opacity: 0;
    font-family: 'PPPangramSans-CompactRegular', sans-serif;
  }

  &__btn {
    margin: 0px calc(((100% - 1140px) / 2) + 404px) 170px auto;
    max-width: 190px;
    font-size: 20px;
    color: #ffffff;
    background-color: #4d4d4d;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    transition: all 0.5s ease;
    opacity: 0;
    
    &:hover {
      background-color: #808080;
    }
  }

  &__list {
    background-color: $black;
    padding: 66px 0 66px 47px;
    line-height: 32px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
  }

  &__item {
    margin: 15px;
    width: 339px;
    height: 339px;
    text-align: center;
  }

  .ok {
    animation-duration: 1s;
    animation-name: sl;
  }

  @keyframes sl {
    0% {
      transform: scale(1)
    }
    50% { 
      transform: scale(1.05)
    }
  
    100% {
      transform: scale(1)
    }
  
  }

  &__img {
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img,
  &__text,
  &__icon {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  }

  #home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.527), rgba(0,0,0,0.527)), url(../img/home-bg.jpg) no-repeat center/cover;
  }

  #electricity {
    background: linear-gradient(0deg, rgba(0,0,0,0.527), rgba(0,0,0,0.527)), url(../img/electricity-bg.jpg) no-repeat center/cover;
  }

  #docs {
    background: linear-gradient(0deg, rgba(0,0,0,0.527), rgba(0,0,0,0.527)), url(../img/docs-bg.jpg) no-repeat center/cover;
  }

  #project {
    background: linear-gradient(0deg, rgba(0,0,0,0.527), rgba(0,0,0,0.527)), url(../img/project-bg.jpg) no-repeat center/cover;
  }

  &__text {
    font-family: 'PPPangramSans-CompactRegular', sans-serif;
    letter-spacing: 0.5px;
    color: $black;
    font-size: 18px;
    line-height: 30px;
    background-color: $logo;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// .fade-in {
//   opacity: 1;
// }

.show {
  .solutions__img,
  .solutions__text,
  .solutions__icon {
    transition-delay: 1s;
    opacity: 1;
  }
}
/******************* END: SOLUTIONS *******************/

/******************* BEGIN: PARTNERS *******************/
.partners {
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/partners-bg.jpg) no-repeat center/cover;
  // height: 100vh;
  &__container {
    padding: 110px 15px 80px;
    margin: 0 auto;
  }

  &__wrapper {
    background-color: $logo;
    padding: 35px 20px 40px 94px;
    display: flex;
    justify-content: space-around;
  }

  .we {
    max-width: 370px;

    &__title {
      font-size: 70px;
      font-weight: 400;
      margin-bottom: 20px;
      font-family: 'PPPangramSans-CompactRegular', sans-serif;
    }

    &__text {
      font-size: 18px;
      margin-bottom: 20px;
      font-weight: 300;
      line-height: 30px;
      font-family: 'PPPangramSans-CompactRegular', sans-serif;
    }
  }

  .projects {
    width: 640px;
    &__title {
      font-size: 70px;
      font-weight: 400;
      margin-bottom: 20px;
      font-family: 'PPPangramSans-CompactRegular', sans-serif;
    }
    
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      &-mob {
        display: none;
      }
    }

    &__subwrapper {
      max-width: 243px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 25px;
    }

    &__logo {
      opacity: 0;
    }
  }
}
/******************* END: PARTNERS *******************/

/******************* BEGIN: SERVICES *******************/
.services {

  .first {
    height: 100vh;
  }

  &__back-btn {
    border: 1px solid black;
  }

  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;

  @keyframes slide-in {
    to {
      left: -15px;
    }
  }

  .slide {
    animation: slide-in 1s ease forwards;
  }

  .slide-again {
    animation: slide-in 1.5s ease forwards;
  }

  .show {
    animation: fade 2s ease forwards;
  }

  .green {
    background-color: $logo;
  }

  .black {
    background-color: $black;
    color: $white;
  }

  .grey {
    background-color: #454545;
  }

  .logo {
    color: $logo;

    &-string {
      background-color: $logo;
      margin-bottom: 50px;
    }

    &-frame {
      border-top: 4px solid $logo;
      border-left: 4px solid $logo;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 120px 15px 80px;
    height: 600px;
  }

  &__wrapper {
    max-width: 633px;
    width: 100%;
    position: relative;
  }

  &__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 54px;
    opacity: 0;
  }

  &__string {
    margin-top: 60px;
    width: 200px;
    height: 4px;
    display: block;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
  }

  &__icon {
    margin-right: 15px;
  }

  &__number {
    font-size: 96px;
    font-weight: 600;
    text-align: right;
    display: inherit;
    line-height: 110px;
    opacity: 0;
  }

  &__frame {
    width: 326px;
    height: 107px;
    border-top: 4px solid #454545;
    border-left: 4px solid #454545;
    display: block;
    position: absolute;
    top: -15px;
    left: -100px;
  }

  &__text {
    font-size: 20px;
    text-align: justify;
    position: relative;
    line-height: 30px;
    left: -100px;

    &-subtitle {
      font-size: 20px;
      position: relative;
      line-height: 30px;
      margin-bottom: 154px;
    }
  }
  
  &__list {
    margin-top: 40px;
    position: relative;
    left: -100px;
  }

  &__item {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
  }
}
/******************* END: SERVICES *******************/

/******************* BEGIN: FOOTER *******************/
.footer {
  background-color: #333333;
  
  &__container {
    font-family: 'PPPangramSans-CompactRegular', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;
    font-size: 18px;
    font-weight: 300;
    line-height: 15px;
    color: $white;
    margin: 0 auto;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    list-style-type: none;
    text-align: right;
  }

  &__link {
    font-family: 'PPPangramSans-CompactRegular', sans-serif;
    margin: 15px 0;
    color: $white;
    font-size: 18px;
    display: block
  }
  

}
/******************* END: FOOTER *******************/

@import "_medias";